body {
    background-color: #111111;
}

.sectionOne {
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
}

h1 {
    font-size: 100px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(204, 205, 27, 1) 100%);
    font-family: 'Otomanopee One', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.sectionTwo {
    margin-top: 10vh;
}

.container_countdown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.time {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin: 20px;
    border: 2px solid rgba(204, 205, 27, 1);
    border-radius: 20%;
}

h3 {
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    background: rgb(23, 83, 12);
    background: linear-gradient(0deg, rgba(23, 83, 12, 1) 0%, rgba(27, 205, 77, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

h4,
p {
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    color: #fff;
    text-align: center;
}

h5 {
    font-size: 0;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    padding: 5px;
}

.container_slider {
    background-color: #111111;
    background-size: cover;
}

.red {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(53, 136, 10, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    font-family: 'Otomanopee One', sans-serif;
}

.container_slider {
    background-color: #111111;
    display: flex;
    margin-top: 10vh;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    margin: 5px;
    flex: 1;
}

.selected {
    flex: 3;
    transition: 1s ease-in;
}

.selected h5 {
    font-size: 30px;
    color: #fff;
    transition: all 1s ease-in;
}

.one {
    background-image: url(/img/1.jpg);
}

.two {
    background-image: url(/img/2.jpg);
}

.three {
    background-image: url(/img/3.jpg);
}

.four {
    background-image: url(/img/4.jpg);
}

.five {
    background-image: url(/img/5.jpg);
}

@media all and (max-width: 900px) {
    .container_slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .item {
        width: 70vw;
    }
    .selected {
        flex: 4;
        transition: 1s ease-in;
    }
    .selected h5 {
        font-size: 20px;
    }
}

@media all and (max-width: 615px) {
    h1 {
        font-size: 70px;
    }
    .sectionTwo {
        margin-top: 15vh;
    }
}

@media all and (max-width: 360px) {
    h1 {
        font-size: 40px;
    }
    h3,
    h4 {
        font-size: 20px;
    }
    .selected h5 {
        font-size: 10px;
    }
}