body {
    background-color: #111111;
}

main {
    background-color: #111111;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading {
    text-align: center;
}

h1 {
    font-size: 100px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(204, 205, 27, 1) 100%);
    font-family: 'Otomanopee One', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container_countdown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.time {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin: 20px;
    border: 2px solid rgba(204, 205, 27, 1);
    border-radius: 20%;
}

h3 {
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    background: rgb(23, 83, 12);
    background: linear-gradient(0deg, rgba(23, 83, 12, 1) 0%, rgba(27, 205, 77, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

h4,
p {
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    color: #fff;
    text-align: center;
}

.container_slider {
    background-color: #111111;
    background-size: cover;
}

.red {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(53, 136, 10, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    font-family: 'Otomanopee One', sans-serif;
}

.container_slider {
    background-color: #111111;
    display: flex;
    margin-top: 10vh;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin: 5px;
}

.one {
    background-image: url(/img/1.jpg);
}

.two {
    background-image: url(/img/2.jpg);
}

.three {
    background-image: url(/img/3.jpg);
}

.four {
    background-image: url(/img/4.jpg);
}

.five {
    background-image: url(/img/5.jpg);
}